In [34]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio
import regex as re

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

from src.config import WORKBOOK, SHEETNAME

In [2]:
INPUT1 = "../data/raw/G201_Quest_PA.sav"
INPUT2 = "../data/raw/year1_conv.sav"

In [50]:
df1, _ = read_sav(INPUT1, index="ID")
df2, _ = read_sav(INPUT2, index="ID")

In [65]:
cols1 = [
    'G201_IF1', 'G201_IF2', 'G201_IF3', 'G201_IF4', 'G201_IF5', 'G201_IF6', 'G201_IF7', 'G201_IF8', 'G201_IF9', 'G201_IF10', 'G201_IF11', 'G201_IF12',
    'G201_IC1', 'G201_IC2', 'G201_IC3', 'G201_IC4', 'G201_IC5', 'G201_IC6', 'G201_IC7', 'G201_IC8', 'G201_IC9', 'G201_IC10', 'G201_IC11', 'G201_IC12',
    'G201_INF1', 'G201_INF2', 'G201_INF3', 'G201_INF4', 'G201_INF5',
    'G201_INC1', 'G201_INC2', 'G201_INC3', 'G201_INC4', 'G201_INC5',
    'G201_HOC1', 'G201_HOC2', 'G201_HOC3', 'G201_HOC4', 'G201_HOC5', 'G201_HOC6',
    'G201_HOF1', 'G201_HOF2', 'G201_HOF3', 'G201_HOF4', 'G201_HOF5', 'G201_HOF6',
    'G201_HOH1', 'G201_HOH2', 'G201_HOH3', 'G201_HOH4', 'G201_HOH5', 'G201_HOH6'
]

cols2 = [
    'Y1_IF1', 'Y1_IF2', 'Y1_IF3', 'Y1_IF4', 'Y1_IF5', 'Y1_IF6', 'Y1_IF7', 'Y1_IF8', 'Y1_IF9', 'Y1_IF10', 'Y1_IF11', 'Y1_IF12',
    'Y1_IC1', 'Y1_IC2', 'Y1_IC3', 'Y1_IC4', 'Y1_IC5', 'Y1_IC6', 'Y1_IC7', 'Y1_IC8', 'Y1_IC9', 'Y1_IC10', 'Y1_IC11', 'Y1_IC12',
    'Y1_INF1', 'Y1_INF2', 'Y1_INF3', 'Y1_INF4', 'Y1_INF5',
    'Y1_INC1', 'Y1_INC2', 'Y1_INC3', 'Y1_INC4', 'Y1_INC5',
    'Y1_HOC1', 'Y1_HOC2', 'Y1_HOC3', 'Y1_HOC4', 'Y1_HOC5', 'Y1_HOC6',
    'Y1_HOF1', 'Y1_HOF2', 'Y1_HOF3', 'Y1_HOF4', 'Y1_HOF5', 'Y1_HOF6',
    'Y1_HOH1', 'Y1_HOH2', 'Y1_HOH3', 'Y1_HOH4', 'Y1_HOH5', 'Y1_HOH6'
]

In [66]:
new = df1[cols1].copy()
old = df2[cols2].rename(columns=lambda x: re.sub('Y1', 'G201', x)).dropna().copy()

In [67]:
new.compare(old.replace({"": "88888", 9: 999}))

        G201_IF1       G201_IF2       G201_IF3       G201_IF4       G201_IF5  \
            self other     self other     self other     self other     self
ID
10010.0      NaN   NaN      NaN   NaN     88.0   0.0     88.0   0.0     88.0
10020.0      NaN   NaN      NaN   NaN     88.0   0.0     88.0   0.0     88.0
10030.0     88.0   0.0     88.0   0.0     88.0   0.0     88.0   0.0     88.0
10040.0      NaN   NaN     88.0   0.0     88.0   0.0     88.0   0.0     88.0
10050.0      NaN   NaN     88.0   0.0     88.0   0.0     88.0   0.0     88.0
...          ...   ...      ...   ...      ...   ...      ...   ...      ...
54560.0      NaN   NaN      NaN   NaN     88.0   0.0     88.0   0.0     88.0
54580.0      NaN   NaN      NaN   NaN     88.0   0.0     88.0   0.0     88.0
54590.0      NaN   NaN      NaN   NaN      NaN   NaN      NaN   NaN      NaN
54601.0      NaN   NaN      NaN   NaN     88.0   0.0     88.0   0.0     88.0
54602.0      NaN   NaN     88.0   0.0     88.0   0.0     88.0   0.0     88.0

               ... G201_IF8       G201_IF9       G201_IF10       G201_IF11  \
        other  ...     self other     self other      self other      self
ID             ...
10010.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
10020.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
10030.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
10040.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
10050.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
...       ...  ...      ...   ...      ...   ...       ...   ...       ...
54560.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
54580.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
54590.0   NaN  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
54601.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0
54602.0   0.0  ...     88.0   0.0     88.0   0.0      88.0   0.0      88.0

              G201_IF12
        other      self other
ID
10010.0   0.0      88.0   0.0
10020.0   0.0      88.0   0.0
10030.0   0.0      88.0   0.0
10040.0   0.0      88.0   0.0
10050.0   0.0      88.0   0.0
...       ...       ...   ...
54560.0   0.0      88.0   0.0
54580.0   0.0      88.0   0.0
54590.0   0.0      88.0   0.0
54601.0   0.0      88.0   0.0
54602.0   0.0      88.0   0.0

[2404 rows x 24 columns]