# G201

## Set up

In [1]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

from src.config import WORKBOOK, SHEETNAME

In [2]:
INPUT = "../data/raw/G201_Quest_PA.sav"
OUTPUT = "../data/interim/G201_Quest_PA.sav"

In [3]:
df, meta = read_sav(INPUT, index="ID")

## Data exploration

### The strange case of `G201_IF13`

Why does `G201_IF13` exist, especially when there's no corresponding `G201_IC13`?  
Furthermore, the values don't align with the previous IC? variables.

In [4]:
df.loc[:, ["G201_IF13"]].value_counts()

G201_IF13
0.0          2414
9.0            27
1.0             4
2.0             1
Name: count, dtype: int64

For all other cases of `G201_IF1` to `G201_IF12`, a 0 means that the incident is related to the incident in the previous IF? variable.  
When `G201_IF13` is 0, the majority of cases were N/A, and values range across the board; this doesn't fit with the existing logic.

In [5]:
df.loc[df["G201_IF13"] == 0, "G201_IF12":"G201_IF13"].value_counts()

G201_IF12  G201_IF13
88.0       0.0          2404
1.0        0.0             6
0.0        0.0             2
2.0        0.0             1
999.0      0.0             1
Name: count, dtype: int64

At least when `G201_IF13` is missing (9), the previous value was also missing (999).

In [6]:
df.loc[df["G201_IF13"] == 9, "G201_IF12":"G201_IF13"].value_counts()

G201_IF12  G201_IF13
999.0      9.0          27
Name: count, dtype: int64

Finally, when `G201_IF13` is 1 or 2, the previous values are 0 or 1; this doesn't specifically highlight any errors.

In [7]:
df.loc[df["G201_IF13"].between(1, 2), "G201_IF12":"G201_IF13"].value_counts()

G201_IF12  G201_IF13
1.0        1.0          3
0.0        1.0          1
1.0        2.0          1
Name: count, dtype: int64

`G201_IF13` does not align with the previous values, and there are clear logical discrepancies.  
Given there is no corresponding `G201_IC13` to explain the few instances of a 1 or 2, and the 0s appear to be unreliable, I plan to drop it.

### Check if there are variables that don't contain data

Verify that all columns contain at least one row with data, and drop any that don't.

`G201_IF12` and `G201_IC12` contain values.

In [8]:
df["G201_IF12"].value_counts()

G201_IF12
88.0     2404
999.0      28
1.0        10
0.0         3
2.0         1
Name: count, dtype: int64

`G201_INF5` and `G201_INC5` don't contain data: **drop them**.

In [9]:
df["G201_INF5"].value_counts()

G201_INF5
0.0      2423
999.0      23
Name: count, dtype: int64

`G201_HOH6`, `G201_HOC6`, and `G201_HOF6` contain values.

In [10]:
df["G201_HOH6"].value_counts()

G201_HOH6
0.0      2416
999.0      22
103.0       6
631.0       1
104.0       1
Name: count, dtype: int64

### Checking that IF? and IC? variables are correctly aligned

In [11]:
IF_ROWS = ['G201_IF1', 'G201_IF2', 'G201_IF3', 'G201_IF4', 'G201_IF5', 'G201_IF6',
           'G201_IF7', 'G201_IF8', 'G201_IF9', 'G201_IF10', 'G201_IF11', 'G201_IF12']

IC_ROWS = ['G201_IC1', 'G201_IC2', 'G201_IC3', 'G201_IC4', 'G201_IC5', 'G201_IC6',
           'G201_IC7', 'G201_IC8', 'G201_IC9', 'G201_IC10', 'G201_IC11', 'G201_IC12']

If `G201_IC?` is N/A ("88888"), the corresponding `G201_IF?` should also be N/A (88).  
Else if `G201_IC?` is Missing ("99999"), the corresponding `G201_IF?` should also be Missing (999).    
Otherwise, the corresponding `G201_IF?` should not be N/A or Missing.

In [12]:
for n in range(1, 13): 
    assert (df.loc[df[f"G201_IC{n}"] == "88888", f"G201_IF{n}"] == 88).all()
    assert (df.loc[df[f"G201_IC{n}"] == "99999", f"G201_IF{n}"] == 999).all()
    assert not df.loc[~df[f"G201_IC{n}"].isin(["88888", "99999"]), f"G201_IF{n}"].isin([88, 999]).all()

The reverse of this should also be true, such that if `G201_IF?` is N/A, the corresponding `G201_IC?` value should also be N/A, and so on.

In [13]:
for n in range(1, 13): 
    assert (df.loc[df[f"G201_IF{n}"] == 88, f"G201_IC{n}"] == "88888").all()
    assert (df.loc[df[f"G201_IF{n}"] == 999, f"G201_IC{n}"] == "99999").all()
    assert not df.loc[~df[f"G201_IF{n}"].isin([88, 999]), f"G201_IC{n}"].isin(["88888", "99999"]).all()

If `G201_IF1` is No (0), then remaining `G201_IF?` values should be N/A (88).  
However, a single instance of this was located at ID 10080.

In [14]:
df.loc[df["G201_IF1"] == 0].filter(regex=r'I(C|F)[1-5]\b')

,G201_IC1,G201_IC2,G201_IC3,G201_IC4,G201_IC5,G201_IF1,G201_IF2,G201_IF3,G201_IF4,G201_IF5
ID,,,,,,,,,,
10080.0,69100,69290,88888,88888,88888,0.0,1.0,88.0,88.0,88.0

For ID 10080, given both conditions are interrelatated (dermatitis), I believe it's likely the participant would have seen the doctor once for both cases.  
Therefore, it makes sense to change IF1 to 1 and IF2 to 0.

In [15]:
idx = [10080]
df.loc[idx, "G201_IF1"] = 1
df.loc[idx, "G201_IF2"] = 0

Participants with IDs 17890, 19270, and 20370 had missing values in place of N/A values, detected during testing process.

In [16]:
idx = [17890, 19270, 20370]
df.loc[idx, "G201_IC1":"G201_IF12"] = df.loc[idx, "G201_IC1":"G201_IF12"].replace({"99999": "88888", 999: 88})

In [17]:
# If any IF or IC value is missing, all others in that row are also missing
for index, row in df.iterrows():
    if row[IF_ROWS].isin([999]).any():
        assert row[IF_ROWS].isin([999]).all(), f"ID {index}: Not all IF values are missing when one is missing."
    if row[IC_ROWS].isin(['99999']).any():
        assert row[IC_ROWS].isin(['99999']).all(), f"ID {index}: Not all IC values are missing when one is missing."

ID 11642: two values for IF and IC that follow a N/A value.
It appears a couple of cells of data were accidentally copied down a line, for IF3, IF4, IC3 and IC4.

ID 23180: one value for IF and IC that follows a N/A value.
Given IF4 and IC4 match IF2 and IC2, and there's a N/A value in-between, it seems likely they've been accidentally copied over.

In [18]:
df.loc[11642, ["G201_IF3", "G201_IF4"]] = 88
df.loc[11642, ["G201_IC3", "G201_IC4"]] = "88888"

df.loc[23180, ["G201_IF4"]] = 88
df.loc[23180, ["G201_IC4"]] = "88888"

In [19]:
# If any IF or IC value is N/A, all following values are also N/A
for index, row in df.iterrows():
    if row[IF_ROWS].isin([88]).any():
        assert row[IF_ROWS].loc[row[IF_ROWS].isin([88]).idxmax():].isin([88]).all(), f"Row {index}: Not all following IF values are N/A."
    if row[IC_ROWS].isin(['88888']).any():
        assert row[IC_ROWS].loc[row[IC_ROWS].isin(['88888']).idxmax():].isin(['88888']).all(), f"Row {index}: Not all following IC values are N/A."

Finally, confirm that if the first variable for all of `G201_IF1`, `G201_INF1`, and `G201_HOF1` are 88, all subsequent values are 88.

In [20]:
assert all(df.loc[df["G201_IF1"] == 88, "G201_IF1":"G201_IF12"] == 88)
assert all(df.loc[df["G201_INF1"] == 88, "G201_INF1":"G201_INF5"] == 88)
assert all(df.loc[df["G201_HOF1"] == 88, "G201_HOF1":"G201_HOF6"] == 88)

### Check ICD9 codes

Verify all `INC1` codes are either E- or V-codes.

In [21]:
dfx = df.loc[~df["G201_INC1"].isin(["88888", "99999"]), "G201_INC1"].copy()
assert np.all(dfx.str.startswith(("E", "V")))

Verify all cases where no frequency for illness was reported is aligned with no ICD-9 code for that illness being reported.  
Do the same for injuries, and hospital admissions.

In [ ]:
test_eq(np.where(df["G201_IF1"] == 88), np.where(df["G201_IC1"] == "88888"))
# test_eq(np.where(df["G201_INF1"] == 0), np.where(df["G201_INC1"] == "88888"))
# test_eq(np.where(df["G201_HOF1"] == 0), np.where(df["G201_HOC1"] == "88888"))

There are 29 cases where `G201_IC1` is N/A where `G201_IF1` is not 0; the variables are misaligned.
This could be because the IF1 value is incorrect, there have been errors introduced into the data, or perhaps missing data was incorrectly labelled as N/A.
Without further information available, this data has been left as is, and is up to researchers to determine how to respond.

In [ ]:
df.loc[(df["G201_INF1"] != 0) & (df["G201_INC1"] == "88888")].index

Index([21950.0, 23570.0, 51750.0, 52020.0, 52031.0, 52060.0, 52080.0, 52120.0,
       52140.0, 52170.0, 53200.0, 53340.0, 53360.0, 53450.0, 53460.0, 53490.0,
       53500.0, 53560.0, 53590.0, 53600.0, 53720.0, 53790.0, 53880.0, 53890.0,
       54230.0, 54250.0, 54350.0, 54400.0, 54470.0],
      dtype='float64', name='ID')

The problem is extremely pronounced for hospital admissions.
There is a huge range of cases where there is misalignment; the frequency is 0 when there is a valid ICD-9 code and hospital code, and in other instances, there is a frequency of 1 or more when there is no valid ICD-9 code and/or hospital code.
Comparing back to a previous, superseded version of the dataset from 2013 shows this data hasn't been changed in that time.
Therefore, this is either reflective of the data that was captured, or errors introduced earlier than 2013, meaning they can't be verified.
As such, I will again leave the data as is, and leave it to researchers to respond appropriately.

In [ ]:
vars = [
    ("G201_HOF1", "G201_HOC1", "G201_HOH1"),
    ("G201_HOF2", "G201_HOC2", "G201_HOH2"),
    ("G201_HOF3", "G201_HOC3", "G201_HOH3"),
    ("G201_HOF4", "G201_HOC4", "G201_HOH4"),
    ("G201_HOF5", "G201_HOC5", "G201_HOH5"),
    ("G201_HOF6", "G201_HOC6", "G201_HOH6"),
]

for a, b, c in vars:
    m1 = (df[a] == 0) & (df[b] == "88888") & (df[c] == 0)
    m2 = (df[a] == 0) | (df[b] == "88888") | (df[c] == 0)
    print(df.loc[~m1 & m2, [a, b, c]])
    print("")

         G201_HOF1 G201_HOC1  G201_HOH1
ID
10060.0        1.0     46610        0.0
10180.0        1.0     03390        0.0
10210.0        1.0     S4572        0.0
10290.0        1.0     S2161        0.0
10510.0        1.0     78060        0.0
...            ...       ...        ...
54350.0        1.0     88888        0.0
54360.0        1.0     88888        0.0
54400.0        1.0     88888        0.0
54530.0        1.0     88888        0.0
54540.0        1.0     88888        0.0

[164 rows x 3 columns]

         G201_HOF2 G201_HOC2  G201_HOH2
ID
10290.0        0.0     S2830        0.0
10610.0        1.0     S2759        0.0
10840.0        1.0     51980        0.0
11010.0        1.0     78030        0.0
11030.0        1.0     78030        0.0
...            ...       ...        ...
52790.0        1.0     S0943        0.0
53380.0        1.0     88888        0.0
53630.0        1.0     88888        0.0
54062.0        1.0     88888        0.0
54220.0        0.0     07990      103.0

[96 rows x 3 columns]

         G201_HOF3 G201_HOC3  G201_HOH3
ID
10290.0        0.0     S2001        0.0
11060.0        0.0     13300      102.0
11220.0        0.0     S0820        0.0
15130.0        0.0     S9903      103.0
16110.0        0.0     00900      103.0
16780.0        0.0     S1698      985.0
17420.0        0.0     74550      103.0
18530.0        0.0     S3323      103.0
20540.0        0.0     30730      631.0
22970.0        0.0     S9214      103.0
45260.0        0.0     59900      103.0
46330.0        0.0     78340      103.0
46390.0        0.0     27130      103.0
47660.0        0.0     S9023      103.0
47850.0        0.0     77460      103.0
49270.0        0.0     S3129      103.0
49330.0        0.0     38290      103.0
49410.0        0.0     S2001      103.0
50920.0        0.0     S8717      102.0
52640.0        0.0     V7180      102.0
54500.0        0.0     78610      103.0

         G201_HOF4 G201_HOC4  G201_HOH4
ID
18740.0        0.0     51980      103.0
22910.0        0.0     53010      203.0
23840.0        0.0     37230      103.0
45260.0        0.0     S4824      103.0
46920.0        0.0     25110      103.0
47660.0        0.0     59900      103.0
47980.0        0.0     53010      102.0
50920.0        0.0     S8703      102.0
52280.0        0.0     S2759      103.0
54500.0        1.0     88888        0.0

         G201_HOF5 G201_HOC5  G201_HOH5
ID
40690.0        0.0     78340      103.0
46920.0        0.0     31590      103.0

         G201_HOF6 G201_HOC6  G201_HOH6
ID
40690.0        0.0     27130      103.0
46330.0        0.0     55890      103.0
54590.0        0.0     37600      103.0

In [158]:
# For example, a subset of IDs with the aforementioned problems
df.loc[[40690, 46330, 54590], ["G201_HOF6", "G201_HOC6", "G201_HOH6"]]

         G201_HOF6 G201_HOC6  G201_HOH6
ID
40690.0        0.0     27130      103.0
46330.0        0.0     55890      103.0
54590.0        0.0     37600      103.0

## Create, Rename, and Delete Variables

### Reading changes from the spreadsheet

In [22]:
wb = pd.read_excel(WORKBOOK, sheet_name=SHEETNAME)
wb['vn_old'] = wb['Dataset'] + '_' + wb['Variable Name']
wb['vn_new'] = wb['Dataset'] + '_' + wb['Harmonised Variable Name']

In [23]:
var_map = wb.loc[wb['Dataset'] == 'G201', ["vn_old", "vn_new"]].dropna()
var_map = var_map.set_index("vn_old").to_dict()["vn_new"]

### Create

Create following binary variables (for all cases: in past 12 months that required a visit to hospital)
- `G201_ILL`: illnesses or problems (Yes if `G201_IF1` is Yes); 
- `G201_INJ`: any accidents or injuries (Yes if `G201_INF1` is Yes); and
- `G201_HOSP`: admitted to hospital (Yes if `G201_HO1` is Yes)

In [24]:
conditions = [
    # When the value for the conditional col is Missing (999) set to Missing
    {"condition": 999, "value": 999},
    # When value is N/A (88), set to 0 (No)
    {"condition": 88, "value": 0},
    # When value is No (0), retain the 0
    {"condition": 0, "value": 0},
    # When value is neither No, N/A nor Missing, set to 1 (Yes)
    {"condition": lambda x: x not in [0, 88, 999], "value": 1}
]

CREATE = [
    {
        "target_col": "G201_ILL",
        "condition_col": "G201_IF1",
        "conditions": conditions
    },
    {
        "target_col": "G201_INJ",
        "condition_col": "G201_INF1",
        "conditions": conditions
    },
    {
        "target_col": "G201_HOSP",
        "condition_col": "G201_HOF1",
        "conditions": conditions
    }
]

In [25]:
df, meta = create_variables(df, meta, CREATE)

Test to ensure changes were correctly implemented.

In [26]:
TEST = {
    "G201_ILL": "G201_IF1", 
    "G201_INJ": "G201_INF1",
    "G201_HOSP": "G201_HOF1"
}

for target_col, condition_col in TEST.items():
    assert all(df.loc[~df[condition_col].isin([0, 88, 999]), target_col] == 1) 
    assert all(df.loc[df[condition_col] == 0, target_col] == 0)
    assert all(df.loc[df[condition_col] == 88, target_col] == 0) 
    assert all(df.loc[df[condition_col] == 999, target_col] == 999)

### Delete

In [27]:
DELETE = [
    "DOB", # should not be included in the dataset; captured in Longitudinal Data/Gen2_Ages.sav
    "G201_IF13",
    "G201_INF5",
    "G201_INC5"
]

In [28]:
df, meta = delete_variables(df, meta, DELETE)

### Rename Variables

In [29]:
RENAME = {
    'G201_IF1': 'G201_ILL_N_1',
    'G201_IF2': 'G201_ILL_N_2',
    'G201_IF3': 'G201_ILL_N_3',
    'G201_IF4': 'G201_ILL_N_4',
    'G201_IF5': 'G201_ILL_N_5',
    'G201_IF6': 'G201_ILL_N_6',
    'G201_IF7': 'G201_ILL_N_7',
    'G201_IF8': 'G201_ILL_N_8',
    'G201_IF9': 'G201_ILL_N_9',
    'G201_IF10': 'G201_ILL_N_10',
    'G201_IF11': 'G201_ILL_N_11',
    'G201_IF12': 'G201_ILL_N_12',
    'G201_IC1': 'G201_ILL_ICD9_1',
    'G201_IC2': 'G201_ILL_ICD9_2',
    'G201_IC3': 'G201_ILL_ICD9_3',
    'G201_IC4': 'G201_ILL_ICD9_4',
    'G201_IC5': 'G201_ILL_ICD9_5',
    'G201_IC6': 'G201_ILL_ICD9_6',
    'G201_IC7': 'G201_ILL_ICD9_7',
    'G201_IC8': 'G201_ILL_ICD9_8',
    'G201_IC9': 'G201_ILL_ICD9_9',
    'G201_IC10': 'G201_ILL_ICD9_10',
    'G201_IC11': 'G201_ILL_ICD9_11',
    'G201_IC12': 'G201_ILL_ICD9_12',
    'G201_INF1': 'G201_INJ_N_1',
    'G201_INF2': 'G201_INJ_N_2',
    'G201_INF3': 'G201_INJ_N_3',
    'G201_INF4': 'G201_INJ_N_4',
    'G201_INC1': 'G201_INJ_ICD9_1',
    'G201_INC2': 'G201_INJ_ICD9_2',
    'G201_INC3': 'G201_INJ_ICD9_3',
    'G201_INC4': 'G201_INJ_ICD9_4',
    'G201_HOH1': 'G201_HOSP_CODE_1',
    'G201_HOH2': 'G201_HOSP_CODE_2',
    'G201_HOH3': 'G201_HOSP_CODE_3',
    'G201_HOH4': 'G201_HOSP_CODE_4',
    'G201_HOH5': 'G201_HOSP_CODE_5',
    'G201_HOH6': 'G201_HOSP_CODE_6',
    'G201_HOC1': 'G201_HOSP_ICD9_1',
    'G201_HOC2': 'G201_HOSP_ICD9_2',
    'G201_HOC3': 'G201_HOSP_ICD9_3',
    'G201_HOC4': 'G201_HOSP_ICD9_4',
    'G201_HOC5': 'G201_HOSP_ICD9_5',
    'G201_HOC6': 'G201_HOSP_ICD9_6',
    'G201_HOF1': 'G201_HOSP_N_1',
    'G201_HOF2': 'G201_HOSP_N_2',
    'G201_HOF3': 'G201_HOSP_N_3',
    'G201_HOF4': 'G201_HOSP_N_4',
    'G201_HOF5': 'G201_HOSP_N_5',
    'G201_HOF6': 'G201_HOSP_N_6'
}

In [30]:
df, meta = rename_variables(df, meta, RENAME)

## Harmonise Metadata

In [ ]:
cols = list(var_map.values())
meta.loc[["Label", "Field Values"], cols]

,G201_ILL_N_1,G201_ILL_N_2,G201_ILL_N_3,G201_ILL_N_4,G201_ILL_N_5,G201_ILL_N_6,G201_ILL_N_7,G201_ILL_N_8,G201_ILL_N_9,G201_ILL_N_10,...,G201_HOSP_ICD9_3,G201_HOSP_ICD9_4,G201_HOSP_ICD9_5,G201_HOSP_ICD9_6,G201_HOSP_N_1,G201_HOSP_N_2,G201_HOSP_N_3,G201_HOSP_N_4,G201_HOSP_N_5,G201_HOSP_N_6
Label,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,Illness no.times,...,Hospital ICD-9 code,Hospital ICD-9 code,Hospital ICD-9 code,Hospital ICD-9 code,Hospital Number of times,Hospital Number of times,Hospital Number of times,Hospital Number of times,Hospital Number of times,Hospital Number of times
Field Values,{999.0: 'missing'},"{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...","{0.0: 'Related to previous illnesses', 88.0: '...",...,{'99999': 'missing'},{'99999': 'missing'},{'99999': 'missing'},{'99999': 'missing'},{999.0: 'missing'},{999.0: 'missing'},{999.0: 'missing'},{999.0: 'missing'},{999.0: 'missing'},{999.0: 'missing'}

Investigate 0s for ILL_N_? INJ_N_? and HOSP_N_?

Verify a value of 0 for `ILL_N_2` is not just a missing or N/A value, and contains legitimate data

In [32]:
assert ~np.any(df.loc[df['G201_ILL_N_2'] == 0, ['G201_ILL_ICD9_2']] == "88888")
assert np.all(df.loc[df['G201_ILL_N_2'] == 88, ['G201_ILL_ICD9_2']] == "88888")

FOR `INJ_N`, 0 appears to refer to N/A in all cases.

In [33]:
df['G201_INJ_N_1'].value_counts()

G201_INJ_N_1
0.0      2045
1.0       364
999.0      23
2.0        10
4.0         3
3.0         1
Name: count, dtype: int64

When `INJ_N_1` != 0 and `INJ_N_2` == 0, the following variables also have a value of 0.

In [34]:
df.loc[(df['G201_INJ_N_2'] == 0) & (df['G201_INJ_N_1'] != 0), ['G201_INJ_N_1', 'G201_INJ_N_2', 'G201_INJ_N_3', 'G201_INJ_N_4']].value_counts()

G201_INJ_N_1  G201_INJ_N_2  G201_INJ_N_3  G201_INJ_N_4
1.0           0.0           0.0           0.0             318
2.0           0.0           0.0           0.0               6
4.0           0.0           0.0           0.0               2
Name: count, dtype: int64

When `INJ_N_1` != 0 and `INJ_N_2` == 0, all corresponding values for `INJ_ICD9` are "88888" (N/A).

In [35]:
df.loc[(df['G201_INJ_N_2'] == 0) & (df['G201_INJ_N_1'] != 0), ['G201_INJ_ICD9_2']].value_counts()

G201_INJ_ICD9_2
88888              326
Name: count, dtype: int64

For `HOSP_N`,

In [36]:
df['G201_HOSP_N_1'].value_counts()

G201_HOSP_N_1
0.0      1958
1.0       445
999.0      22
2.0        16
3.0         3
4.0         1
5.0         1
Name: count, dtype: int64

When HOSP_N_1 == 0, HOSP_ICD9_1 and HOSP_CODE_1 should be Missing or N/A.  
However, in one case (ID: 42320), there is a real value for HOSP_ICD9_1 and HOSP_CODE_1.  
TODO: Investigate if there was previously a value. If not, recode HOSP_N_1 to Missing.

In [37]:
# assert np.all(df.loc[df['G201_HOSP_N_1'] == 0, ["G201_HOSP_ICD9_1"]] == "88888")
# assert np.all(df.loc[df['G201_HOSP_N_1'] == 0, ["G201_HOSP_CODE_1"]] == 0)
df.loc[(df['G201_HOSP_N_1'] == 0) & (df["G201_HOSP_ICD9_1"] != "88888"), ["G201_HOSP_ICD9_1"]]
df.loc[(df['G201_HOSP_N_1'] == 0) & (df["G201_HOSP_CODE_1"] != 0), ["G201_HOSP_CODE_1"]]

         G201_HOSP_CODE_1
ID
42320.0             985.0

When HOSP_N_1 == 0, all subsequent values for HOSP_N_?, HOSP_CODE_?, and HOSP_ICD9_? should be N/A.  
TODO: Change these values for HOSP_N and HOSP_CODE to appropriate N/A values.

In [38]:
HOSP_N = ['G201_HOSP_N_2', 'G201_HOSP_N_3', 'G201_HOSP_N_4', 'G201_HOSP_N_5', 'G201_HOSP_N_6']
HOSP_CODE = ['G201_HOSP_CODE_2', 'G201_HOSP_CODE_3', 'G201_HOSP_CODE_4', 'G201_HOSP_CODE_5', 'G201_HOSP_CODE_6']
HOSP_ICD9 = ['G201_HOSP_ICD9_2', 'G201_HOSP_ICD9_3', 'G201_HOSP_ICD9_4', 'G201_HOSP_ICD9_5', 'G201_HOSP_ICD9_6']

assert np.all(df.loc[(df['G201_HOSP_N_1'] == 0), HOSP_N] == 0)
assert np.all(df.loc[(df['G201_HOSP_N_1'] == 0), HOSP_CODE] == 0)
assert np.all(df.loc[(df['G201_HOSP_N_1'] == 0), HOSP_ICD9] == "88888")

In [39]:
df.loc[(df['G201_HOSP_N_2'] == 0) & (df['G201_HOSP_N_1'] != 0), ['G201_HOSP_N_1', 'G201_HOSP_N_2', 'G201_HOSP_N_3', 'G201_HOSP_N_4']].value_counts()

G201_HOSP_N_1  G201_HOSP_N_2  G201_HOSP_N_3  G201_HOSP_N_4
1.0            0.0            0.0            0.0              349
                              1.0            0.0                9
2.0            0.0            0.0            0.0                8
1.0            0.0            1.0            1.0                3
3.0            0.0            0.0            0.0                3
1.0            0.0            0.0            1.0                2
                              2.0            0.0                1
4.0            0.0            0.0            0.0                1
Name: count, dtype: int64

For ID: 43600, it appears `HOSP_CODE_2` should be 102.

In [40]:
df.loc[(df['G201_HOSP_N_2'] == 0) & (df['G201_HOSP_N_1'] != 0) & (df['G201_HOSP_N_3'] != 0), ['G201_HOSP_CODE_1', 'G201_HOSP_CODE_2', 'G201_HOSP_ICD9_1', 'G201_HOSP_ICD9_2',]]

         G201_HOSP_CODE_1  G201_HOSP_CODE_2 G201_HOSP_ICD9_1 G201_HOSP_ICD9_2
ID
16310.0             631.0             631.0            78050            78330
16950.0             103.0             103.0            S5311            S6310
19440.0             103.0             103.0            04790            E9672
41330.0             103.0             103.0            59900            59370
43600.0             102.0               0.0            46600            78609
46920.0             103.0             103.0            78060            38290
47840.0             103.0             103.0            59900            59370
47980.0             102.0             102.0            46610            77930
48140.0             103.0             103.0            46610            38290
48510.0             102.0             102.0            78030            38290
49220.0             103.0             103.0            55890            79620
49310.0             103.0             103.0            77080            75400
54220.0             103.0             103.0            S5300            07990

Verify that when `HOSP_N_?` == 0, the corresponding `HOSP_CODE` and `HOSP_ICD9` values are not Missing or N/A, and that `HOSP_CODE` is equal to the previous `HOSP_CODE` value.  
TODO: continue fleshing out these tests.

In [41]:
df.loc[(df['G201_HOSP_N_1'] != 0) & (df['G201_HOSP_N_2'] == 0), ['G201_HOSP_CODE_1', 'G201_HOSP_CODE_2', 'G201_HOSP_ICD9_1', 'G201_HOSP_ICD9_2',]]

         G201_HOSP_CODE_1  G201_HOSP_CODE_2 G201_HOSP_ICD9_1 G201_HOSP_ICD9_2
ID
10060.0               0.0               0.0            46610            88888
10180.0               0.0               0.0            03390            88888
10210.0               0.0               0.0            S4572            88888
10290.0               0.0               0.0            S2161            S2830
10510.0               0.0               0.0            78060            88888
...                   ...               ...              ...              ...
54350.0               0.0               0.0            88888            88888
54360.0               0.0               0.0            88888            88888
54400.0               0.0               0.0            88888            88888
54530.0               0.0               0.0            88888            88888
54540.0               0.0               0.0            88888            88888

[376 rows x 4 columns]

## Save Interim Data

In [42]:
write_sav(OUTPUT, df, meta)

## Run tests to validate data

Specify the precise changes expected from the updated dataset in terms of recoding.

In [43]:
# Changes should capture each specific changes; column (variable name), the IDs that are affected, and the corresponding change
CHANGES = [
    {
        "columns": ["G201_ILL_N_1"],
        "idx": [10080],
        "value": 1 
    },
    {
        "columns": ["G201_ILL_N_2"],
        "idx": [10080],
        "value": 0 
    },
    {
        "columns": ["G201_ILL_N_3", "G201_ILL_N_4"],
        "idx": [11642],
        "value": 88 
    },
    {
        "columns": ["G201_ILL_ICD9_3"],
        "idx": [11642],
        "value": "88888"
    },
    {
        "columns": ["G201_ILL_ICD9_4"],
        "idx": [11642],
        "value": "88888"
    },
    {
        "columns": ["G201_ILL_N_4"],
        "idx": [23180],
        "value": 88
    },
    {
        "columns": ["G201_ILL_ICD9_4"],
        "idx": [23180],
        "value": "88888"
    },
    {
        "columns": ['G201_ILL_ICD9_2', 'G201_ILL_ICD9_3', 'G201_ILL_ICD9_4', 'G201_ILL_ICD9_5', 'G201_ILL_ICD9_6', 'G201_ILL_ICD9_7', 'G201_ILL_ICD9_8', 'G201_ILL_ICD9_9', 'G201_ILL_ICD9_10', 'G201_ILL_ICD9_11', 'G201_ILL_ICD9_12'],
        "idx": [19270, 17890],
        "value": "88888"
    },
    {
        "columns": ['G201_ILL_N_2', 'G201_ILL_N_3', 'G201_ILL_N_4', 'G201_ILL_N_5', 'G201_ILL_N_6', 'G201_ILL_N_7', 'G201_ILL_N_8', 'G201_ILL_N_9', 'G201_ILL_N_10', 'G201_ILL_N_11', 'G201_ILL_N_12'],
        "idx": [19270, 17890],
        "value": 88
    },
    {
        "columns": ['G201_ILL_ICD9_4', 'G201_ILL_ICD9_5', 'G201_ILL_ICD9_6', 'G201_ILL_ICD9_7', 'G201_ILL_ICD9_8', 'G201_ILL_ICD9_9', 'G201_ILL_ICD9_10', 'G201_ILL_ICD9_11', 'G201_ILL_ICD9_12'],
        "idx": [20370],
        "value": "88888"
    },
    {
        "columns": ['G201_ILL_N_4', 'G201_ILL_N_5', 'G201_ILL_N_6', 'G201_ILL_N_7', 'G201_ILL_N_8', 'G201_ILL_N_9', 'G201_ILL_N_10', 'G201_ILL_N_11', 'G201_ILL_N_12'],
        "idx": [20370],
        "value": 88
    },
]

In [44]:
df_old, meta_old = read_sav(INPUT, index="ID")
df_new, meta_new = read_sav(OUTPUT, index="ID")

In [45]:
run_full_test_suite(df_new, df_old, CREATE, RENAME, DELETE, CHANGES)

### Compare metadata

In [46]:
# Compare metadata, not including variables that were created or deleted, and renaming the old variables to match for comparison

old_cols = [col for col in meta_old.columns if col not in DELETE]
new_cols = [col for col in meta_new.columns if col not in CREATE]
# metax = meta_new[new_cols].compare(meta_old[old_cols].rename(RENAME))
# metax

## Final Changes

### Converting missing and N/A data for string variables

This should be a function in the package that I can apply to all specified variables

In [51]:
cols = df_new.filter(regex="ILL_ICD").columns
df_new[cols].replace({"88888": "N/A", "99999": "Missing"})

,G201_ILL_ICD9_1,G201_ILL_ICD9_2,G201_ILL_ICD9_3,G201_ILL_ICD9_4,G201_ILL_ICD9_5,G201_ILL_ICD9_6,G201_ILL_ICD9_7,G201_ILL_ICD9_8,G201_ILL_ICD9_9,G201_ILL_ICD9_10,G201_ILL_ICD9_11,G201_ILL_ICD9_12
ID,,,,,,,,,,,,
10010.0,54600,38290,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
10020.0,00900,48600,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
10030.0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
10040.0,00900,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
10050.0,37890,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
54560.0,69190,11230,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
54580.0,75615,46590,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
54590.0,74569,00900,51980,51980,38290,42890,78340,N/A,N/A,N/A,N/A,N/A
54601.0,00900,46610,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
54602.0,69190,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A