# G203

## Exploring the data

INF1 and INC1 only extend to INF4 and INC4.
HO variables extend to HOH6.

## Set up

In [1]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

from src.config import WORKBOOK, SHEETNAME

In [2]:
INPUT = "../data/raw/G203_Quest_PA.sav"
OUTPUT = "../data/interim/G203_Quest_PA.sav"

In [3]:
df, meta = read_sav(INPUT, index="ID")

In [11]:
cols = [
    'G203_IF1', 'G203_IF2', 'G203_IF3', 'G203_IF4', 'G203_IF5', 'G203_IF6',
    'G203_IF7', 'G203_IF8', 'G203_IF9', 'G203_IF10', 'G203_IF11',
    'G203_IF12'
]

df.loc[df['G203_IF2'] == 0, ['G203_IF1', 'G203_IF2', 'G203_IF3', 'G203_IF4']]

         G203_IF1  G203_IF2  G203_IF3  G203_IF4
ID
11030.0       1.0       0.0      88.0      88.0
11520.0       1.0       0.0       1.0      88.0
11610.0       1.0       0.0       2.0       1.0
12010.0       1.0       0.0      88.0      88.0
12230.0     999.0       0.0      88.0      88.0
...           ...       ...       ...       ...
54080.0       1.0       0.0       1.0      88.0
54230.0       1.0       0.0      88.0      88.0
54370.0       1.0       0.0      88.0      88.0
54500.0       1.0       0.0       1.0       1.0
54540.0       1.0       0.0       1.0       0.0

[173 rows x 4 columns]

Check how 0s are used for INF?

In [13]:
df['G203_INF1'].value_counts()

G203_INF1
88.0     1678
1.0       524
999.0      59
2.0        18
3.0         1
Name: count, dtype: int64

In [16]:
df.loc[df['G203_INF2'] == 0, ['G203_INF1', 'G203_INF2', 'G203_INF3']]

         G203_INF1  G203_INF2  G203_INF3
ID
11460.0        1.0        0.0       88.0
12740.0        1.0        0.0        1.0
13550.0        1.0        0.0       88.0
15490.0        1.0        0.0        0.0
17630.0        1.0        0.0       88.0
22670.0        1.0        0.0       88.0
44990.0        1.0        0.0       88.0
51070.0        1.0        0.0        1.0