# G205

## Exploring the data

Time frames are 'since his/her third birthday'; alter variable names to indicate this minor difference? (probably not if the rest are "since last f/up).  
IF? and IC? extend to 15.  
Drop IL15, INJ4 and HO8.  
Drop OM1, CVLN and UTI - don't add value.

## Set up

In [1]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

from src.config import WORKBOOK, SHEETNAME

In [2]:
INPUT = "../data/raw/G205_Q.sav"
OUTPUT = "../data/interim/G205_Q.sav"

In [3]:
df, meta = read_sav(INPUT, index="ID")

In [4]:
cols = [
    'G205_IF1', 'G205_IF2', 'G205_IF3', 'G205_IF4', 'G205_IF5', 'G205_IF6',
    'G205_IF7', 'G205_IF8', 'G205_IF9', 'G205_IF10', 'G205_IF11',
    'G205_IF12'
]

df.loc[df['G205_IF2'] == 0, ['G205_IF1', 'G205_IF2', 'G205_IF3', 'G205_IF4']]

         G205_IF1  G205_IF2  G205_IF3  G205_IF4
ID
10010.0       2.0       0.0       1.0       1.0
10210.0       1.0       0.0       1.0       1.0
10250.0       2.0       0.0       2.0     888.0
10360.0       1.0       0.0       1.0       0.0
10570.0       1.0       0.0     888.0     888.0
...           ...       ...       ...       ...
53510.0       2.0       0.0       1.0       1.0
53650.0       1.0       0.0       1.0       1.0
54030.0       1.0       0.0       0.0      10.0
54350.0       1.0       0.0       1.0       2.0
54490.0       4.0       0.0       1.0       0.0

[180 rows x 4 columns]

Check how 0s are used for INF?

In [5]:
df['G205_INF1'].value_counts()

G205_INF1
888.0    1393
1.0       726
999.0      63
2.0        43
3.0         6
0.0         5
4.0         1
Name: count, dtype: int64

In [8]:
df.loc[df['G205_INF1'] == 0, ['G205_INF1', 'G205_INF2', 'G205_INF3']]

         G205_INF1  G205_INF2  G205_INF3
ID
21810.0        0.0      888.0      888.0
47480.0        0.0      888.0      888.0
48230.0        0.0      888.0      888.0
48450.0        0.0      888.0      888.0
50810.0        0.0      888.0      888.0

In [6]:
df.loc[df['G205_INF2'] == 0, ['G205_INF1', 'G205_INF2', 'G205_INF3']]

         G205_INF1  G205_INF2  G205_INF3
ID
18000.0        1.0        0.0      888.0
18240.0        1.0        0.0        1.0
22670.0        1.0        0.0      888.0
42620.0        1.0        0.0      888.0
53680.0        1.0        0.0      888.0

In [7]:
df.loc[df['G205_INF2'] == 0, ['G205_INC1', 'G205_INC2', 'G205_INC3']]

        G205_INC1 G205_INC2 G205_INC3
ID
18000.0     E8581     E8555     88888
18240.0     E8887     E8889     E9063
22670.0     E8504     E8502     88888
42620.0     E8581     E8582     88888
53680.0     E8889     E8887     88888