# G217_PQ

## Exploring the data

HO[D|C|F]10 are named H[D|C|F]10? Rest are named as usual. Investigate and fix or drop if no data.

In [1]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

In [2]:
INPUT = "../data/raw/G217_PQ.sav"
OUTPUT = "../data/interim/G217_PQ.sav"

In [3]:
df, meta = read_sav(INPUT, index="ID")

In [11]:
df[["G217_PQ_HD10", "G217_PQ_HH10", "G217_PQ_HC10"]].dropna(how='all')

        G217_PQ_HD10  G217_PQ_HH10 G217_PQ_HC10
ID
10010.0          NaT        8888.0
10020.0          NaT        8888.0
10030.0          NaT        8888.0
10040.0          NaT           0.0
10050.0          NaT        8888.0
...              ...           ...          ...
54560.0          NaT        8888.0
54580.0          NaT        8888.0
54590.0          NaT        8888.0
54601.0          NaT        8888.0
54602.0          NaT        8888.0

[1416 rows x 3 columns]

In [21]:
df.loc[:, ["G217_PQ_HH10"]].dropna().value_counts()

G217_PQ_HH10
8888.0          1119
0.0              281
9999.0            15
103.0              1
Name: count, dtype: int64

In [32]:
df.filter(regex=r"_HO\w\d\b").columns

Index(['G217_PQ_HOD1', 'G217_PQ_HOH1', 'G217_PQ_HOC1', 'G217_PQ_HOD2',
       'G217_PQ_HOH2', 'G217_PQ_HOC2', 'G217_PQ_HOD3', 'G217_PQ_HOH3',
       'G217_PQ_HOC3', 'G217_PQ_HOD4', 'G217_PQ_HOH4', 'G217_PQ_HOC4',
       'G217_PQ_HOD5', 'G217_PQ_HOH5', 'G217_PQ_HOC5', 'G217_PQ_HOD6',
       'G217_PQ_HOH6', 'G217_PQ_HOC6', 'G217_PQ_HOD7', 'G217_PQ_HOH7',
       'G217_PQ_HOC7', 'G217_PQ_HOD8', 'G217_PQ_HOH8', 'G217_PQ_HOC8',
       'G217_PQ_HOD9', 'G217_PQ_HOH9', 'G217_PQ_HOC9', 'G217_PQ_PT_HON1',
       'G217_PQ_PT_HON2', 'G217_PQ_PT_HON3'],
      dtype='object')

In [ ]:
cols = [
    'G217_PQ_HOD1', 'G217_PQ_HOH1', 'G217_PQ_HOC1', 'G217_PQ_HOD2',
    'G217_PQ_HOH2', 'G217_PQ_HOC2', 'G217_PQ_HOD3', 'G217_PQ_HOH3',
    'G217_PQ_HOC3', 'G217_PQ_HOD4', 'G217_PQ_HOH4', 'G217_PQ_HOC4',
    'G217_PQ_HOD5', 'G217_PQ_HOH5', 'G217_PQ_HOC5', 'G217_PQ_HOD6',
    'G217_PQ_HOH6', 'G217_PQ_HOC6', 'G217_PQ_HOD7', 'G217_PQ_HOH7', 
    'G217_PQ_HOC7', 'G217_PQ_HOD8', 'G217_PQ_HOH8', 'G217_PQ_HOC8', 
    'G217_PQ_HOD9', 'G217_PQ_HOH9', 'G217_PQ_HOC9', 'G217_PQ_HD10', 
    'G217_PQ_HH10', 'G217_PQ_HC10'
]

df.loc[df["G217_PQ_HH10"] == 103, cols]

,G217_PQ_HOD1,G217_PQ_HOH1,G217_PQ_HOC1,G217_PQ_HOD2,G217_PQ_HOH2,G217_PQ_HOC2,G217_PQ_HOD3,G217_PQ_HOH3,G217_PQ_HOC3,G217_PQ_HOD4,...,G217_PQ_HOC7,G217_PQ_HOD8,G217_PQ_HOH8,G217_PQ_HOC8,G217_PQ_HOD9,G217_PQ_HOH9,G217_PQ_HOC9,G217_PQ_HD10,G217_PQ_HH10,G217_PQ_HC10
ID,,,,,,,,,,,,,,,,,,,,,
22181.0,2006-03-15,103.0,V7720,NaT,103.0,,NaT,103.0,,NaT,...,,NaT,103.0,,NaT,103.0,,NaT,103.0,

In [19]:
df.loc[:, ["G217_PQ_HC10"]].replace('', np.nan).dropna()

C:\Users\00113294\AppData\Local\Temp\ipykernel_31288\3350154406.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, ["G217_PQ_HC10"]].replace('', np.nan).dropna()

Empty DataFrame
Columns: [G217_PQ_HC10]
Index: []

In [42]:
df[["G217_PQ_HOC5"]].replace('', np.nan).dropna(how='all')

        G217_PQ_HOC5
ID
10420.0        29630
50470.0        78039

No data from 6 onwards; drop.

In [43]:
df[["G217_PQ_HOC6"]].replace('', np.nan).dropna(how='all')

C:\Users\00113294\AppData\Local\Temp\ipykernel_31288\2271664908.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[["G217_PQ_HOC6"]].replace('', np.nan).dropna(how='all')

Empty DataFrame
Columns: [G217_PQ_HOC6]
Index: []