# G217

## Exploring the data

HO[D|C|F]10 are named H[D|C|F]10? Rest are named as usual. Investigate and fix or drop if no data.

In [1]:
from fastcore.test import *
from fastcore.utils import *
import pandas as pd
from pandas import DataFrame
import numpy as np
import pyspssio

import raine_tools as rn
from data_harmonising.data import *
from data_harmonising.transforms import *
from data_harmonising.tests import *

In [2]:
INPUT = "../data/raw/G217_TeenQ.sav"
OUTPUT = "../data/interim/G217_TeenQ.sav"

In [3]:
df, meta = read_sav(INPUT, index="ID")

In [4]:
df[["G217_HD10", "G217_HH10", "G217_HC10"]].dropna(how='all')

         G217_HD10  G217_HH10  G217_HC10
ID
10010.0        NaN        0.0        NaN
10020.0        NaN     8888.0        NaN
10040.0        NaN        0.0        NaN
10050.0        NaN     8888.0        NaN
10100.0        NaN     8888.0        NaN
...            ...        ...        ...
54520.0        NaN     8888.0        NaN
54540.0        NaN        0.0        NaN
54550.0        NaN     8888.0        NaN
54580.0        NaN     8888.0        NaN
54590.0        NaN     8888.0        NaN

[1393 rows x 3 columns]

In [ ]:
df.loc[:, ["G217_HH10"]].dropna().value_counts()

G217_HH10
8888.0       1103
0.0           287
9999.0          2
106.0           1
Name: count, dtype: int64

In [11]:
cols = [
    'G217_HOD1', 'G217_HOH1', 'G217_HOC1', 'G217_HOD2',
    'G217_HOH2', 'G217_HOC2', 'G217_HOD3', 'G217_HOH3',
    'G217_HOC3', 'G217_HOD4', 'G217_HOH4', 'G217_HOC4',
    'G217_HOD5', 'G217_HOH5', 'G217_HOC5', 'G217_HOD6',
    'G217_HOH6', 'G217_HOC6', 'G217_HOD7', 'G217_HOH7', 
    'G217_HOC7', 'G217_HOD8', 'G217_HOH8', 'G217_HOC8', 
    'G217_HOD9', 'G217_HOH9', 'G217_HOC9', 'G217_HD10', 
    'G217_HH10', 'G217_HC10'
]

df.loc[df["G217_HH10"] == 106, cols]

,G217_HOD1,G217_HOH1,G217_HOC1,G217_HOD2,G217_HOH2,G217_HOC2,G217_HOD3,G217_HOH3,G217_HOC3,G217_HOD4,...,G217_HOC7,G217_HOD8,G217_HOH8,G217_HOC8,G217_HOD9,G217_HOH9,G217_HOC9,G217_HD10,G217_HH10,G217_HC10
ID,,,,,,,,,,,,,,,,,,,,,
22181.0,15-Nov-08,2.0,S2319,NaN,106.0,NaN,NaN,106.0,NaN,NaN,...,NaN,NaN,106.0,NaN,NaN,106.0,NaN,NaN,106.0,NaN

In [22]:
df[["G217_HOD5", "G217_HOC5"]].dropna(how='all')

         G217_HOD5  G217_HOC5
ID
47890.0        NaN    99810.0

No data captured from 6 onwards; drop 6 and onwards.

In [23]:
df[["G217_HOD6", "G217_HOC6"]].dropna(how='all')

Empty DataFrame
Columns: [G217_HOD6, G217_HOC6]
Index: []